@{
    ViewBag.Title = "订单列表";
}
@model ContentSystem.Models.OrderVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="padding:10px 10px;">
                        <form action="/Order/List" method="get">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    订单号码：
                                    <input type="text" name="QueryOrderNo" class="form-control inline" style="width:70%;" placeholder="请输入查询订单号" value="@(Model.QueryOrderNo ?? "")">
                                </div>
                                <div class="col-sm-4">
                                    手机号码：
                                    <input type="text" name="QueryMobile" class="form-control inline" style="width:70%;" placeholder="请输入查询手机号" value="@(Model.QueryMobile ?? "")">
                                </div>
                            </div>
                            <div class="col-sm-12" style="height:20px;"></div>
                            @*<div class="hr-line-dashed"></div>*@
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    商品名称：
                                    <input type="text" name="QueryProductName" class="form-control inline" style="width:70%;" placeholder="请输入查询商品名称" value="@(Model.QueryProductName ?? "")">
                                </div>
                                <div class="col-sm-4">
                                    商品SKU：
                                    <input type="text" name="QuerySku" class="form-control inline" style="width:70%;" placeholder="请输入查询商品SKU" value="@(Model.QuerySku ?? "")">
                                </div>
                                <button type="submit" class="btn btn-info">搜索</button>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">用户编号</th>
                                    <th class="text-center">订单号</th>
                                    <th class="text-center">微信昵称</th>
                                    <th class="text-center">微信号</th>
                                    <th class="text-center">头像</th>
                                    <th class="text-center">姓名</th>
                                    <th class="text-center">电话</th>
                                    <th class="text-center">商品名称</th>
                                    <th class="text-center">商品sku</th>
                                    <th class="text-center">商品价格</th>
                                    <th class="text-center">实际支付</th>
                                    <th class="text-center">下单时间</th>
                                    <th class="text-center">付款时间</th>
                                    <th class="text-center">收货地址</th>
                                    <th class="text-center">配送方式</th>
                                    <th class="text-center">忌口水果</th>
                                    <th class="text-center">订单状态</th>
                                    <th class="text-center">备注信息</th>
                                    <th class="text-center">开始配送日期</th>
                                    <th class="text-center">结束配送日期</th>
                                    <th class="text-center">配送总天数</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Paging.Items != null && Model.Paging.Items.Count > 0)
                                {
                                    foreach (var item in Model.Paging.Items)
                                    {
                                        <tr>
                                            <td class="text-center">@item.Fans_id</td>
                                            <td class="text-center">@item.Tid</td>
                                            <td class="text-center">@item.NickName</td>
                                            <td class="text-center">@item.Fans_weixin_openid</td>
                                            <td class="text-center td-img">
                                                @if (!string.IsNullOrEmpty(item.Avatar))
                                                {
                                                    <img src="@item.Avatar" class="fancy" href="@item.Avatar" data-fancybox-group="gallery" onerror="this.src = '/images/404image.png'">
                                                }
                                                else
                                                {
                                                    <img src="/images/404image.png">
                                                }
                                            </td>
                                            <td class="text-center">@item.Fetcher_name</td>
                                            <td class="text-center">@item.Fetcher_mobile</td>
                                            <td class="text-center">@item.Title</td>
                                            <td class="text-center">@item.sku_id</td>
                                            <td class="text-center">@item.Total_fee</td>
                                            <td class="text-center">@item.Payment</td>
                                            <td class="text-center">@item.Created</td>
                                            <td class="text-center">@item.Pay_time</td>
                                            <td class="text-center">@item.Receiver_address</td>
                                            <td class="text-center">@item.Shipping_type</td>
                                            <td class="text-center">@item.Taboo</td>
                                            <td class="text-center">@item.Status_str</td>
                                            <td class="text-center">@item.Buyer_message</td>
                                            <td class="text-center">@item.Start_send</td>
                                            <td class="text-center">@item.End_send</td>
                                            <td class="text-center">@item.Send_day</td>
                                            <td>
                                                <a href="/Order/delay?tid=@item.Tid" class="btn btn-info"><i class="fa fa-paste padding-right-4"></i>&nbsp;延期配送</a>
                                                <a href="/Order/Detail?tid=@item.Tid" class="btn btn-info"><i class="fa fa-paste padding-right-4"></i>&nbsp;查看发货日期</a>
                                            </td>
                                        </tr>
                                                        }
                                                    }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group">
                                <a href="/Order/List" class="btn btn-info" style="margin-left:10px;" data-refresh="0"><i class="fa fa-refresh padding-right-4"></i>&nbsp;刷新</a>
                            </div>
                            @Html.Raw(Model.Paging.Text)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
