@{
    ViewBag.Title = "订单发货日期记录列表";
}
@model ContentSystem.Models.OrderVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="padding:10px 10px;">
                        <form action="/Order/SendInfoList" method="get">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    订单号码：
                                    
                                    <input type="text" name="QueryOrderNo" class="form-control inline" style="width:70%;" placeholder="请输入查询订单号" value="@(Model.Tid ?? "")">
                                </div>
                               
                            </div> 
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">配送日期</th>
                                    <th class="text-center">是否配送</th>
                                    <th class="text-center">配送数量</th>
                                    <th class="text-center">操作</th> 
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.SendInfoList!= null && Model.SendInfoList.Count > 0)
                                {
                                    foreach (var item in Model.SendInfoList)
                                    {
                                        <tr>
                                            <td class="text-center">@item.Send_time</td>
                                            <td class="text-center">
                                                @*<input type="text" name="txt_@(item.Tid)_issend" id="txt_@(item.Tid)_issend" value="@(item.Is_send==1 ? '是':'否')">*@
                                                @(item.Is_send == 1 ? '是' : '否')
                                            </td>
                                            <td class="text-center">
                                                <input type="number" min="0" name="txt_@(item.Tid)_num" id="txt_@(item.Tid)_num" value="@item.Send_num">
                                            </td>
                                            <td class="text-center"> 
                                            </td>
                                             
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group">
                                <a href="/Order/SendInfoList" class="btn btn-info" style="margin-left:10px;" data-refresh="0"><i class="fa fa-refresh padding-right-4"></i>&nbsp;刷新</a>
                                <a href="/Order/SendInfoList" class="btn btn-info" style="margin-left:10px;" data-refresh="0"><i class="fa fa-refresh padding-right-4"></i>&nbsp;保存</a>
                            </div>
                            @*@Html.Raw(Model.Paging.Text)*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
