@{
    ViewBag.Title = "订单发货日期记录列表";
}
@model ContentSystem.Models.OrderVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="padding:10px 10px;">
                        <form action="/Order/SendInfoList" method="get">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    订单号码：
                                    
                                    <input type="text" name="QueryOrderNo" class="form-control inline" style="width:70%;" placeholder="请输入查询订单号" value="@(Model.Tid ?? "")">
                                </div>
                               
                            </div> 
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">配送日期</th>
                                    <th class="text-center">是否配送</th>
                                    <th class="text-center">配送数量</th>
                                    <th class="text-center">操作</th> 
                                </tr>
                            </thead>
                            <tbody >
                                @if (Model.SendInfoList!= null && Model.SendInfoList.Count > 0)
                                {
                                    foreach (var item in Model.SendInfoList)
                                    {
                                        <tr>
                                            <td class="text-center">@item.Send_time</td>
                                            <td class="text-center">
                                                <input type="hidden" value="@item.SendInfoId" />
                                                <label ><input type="checkbox" @(item.Is_send == 1 ? "checked" : "")/>是否发货</label>
                                            </td>
                                            <td class="text-center">
                                                <input type="number" min="0" name="txt_@(item.Tid)_num" id="txt_@(item.Tid)_num" value="@item.Send_num">
                                            </td>
                                            <td class="text-center"> 
                                                <a class="btn btn-info btnsave"  data-refresh="0"><i class="fa fa-floppy-o padding-right-8"></i> 保存 </a>
                                            </td>
                                             
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
<script type="text/javascript">
        $(document).ready(function () {
            $(".btnsave").click(function () {
                var _inputstr = $(this).parent().parent().find("input[type='number']").val();
                var _isSends = $(this).parent().parent().find("input[type='checkbox']").prop('checked');
                var sendId = $(this).parent().parent().find("input[type='hidden']").val();
                //var _inputstr = $(this).parent().find(".txt-calendar").val();
                //var _oid = $(this).data("oid");
                if (_inputstr != "") {
                    var dataArr = {
                        sendInfoId: sendId,
                        is_send:_isSends?1:0,
                        send_num: _inputstr
                    };
                    $.post('/Order/SendSave', dataArr, function (data) {

                        if (data.Status == 200) {
                            swal("提示", "操作成功");
                        }
                        if (data.Status == 202) {
                            swal("提示", "操作失败");
                        }
                    }).complete(function () { window.parent.hideModal(); });
                } else {
                    swal("提示", "份数不能为空！");
                    return;
                }
            })
        });
</script>
}